{% extends 'base.html' %}
{% block conteudo %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
           <div class="card">
               <div class="card-body">
                   <h2>Registrar Agenda</h2>
                   <hr>
                   <form action="" method="POST" id='register_doctor'>
                       {% csrf_token %}
                       {{ form|crispy }}
                       <br/><br/>                       
                       <input type="submit" value="Gravar" class="btn btn-success float-right">
                       <a href="{% url 'query_doctor' %}" type="reset" value="reset" class="btn btn-secondary">Cancel</a>
                   </form>
                   {{ message }}
               </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}